@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-brand: #181a2a;
    --color-student: #00b5ff;
    --color-company: #67cba0;
    --color-nav: #ff5861;

    --font-default: "Inter", sans-serif;
    --font-code: "Roboto Mono", monospace;
    --font-title: "Rethink Sans", sans-serif;
}

@layer base {
    * { /* Font styling for alle sider yayy */
        font-family: var(--font-default);
        font-display: swap;
    }

    body, footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    body > div > main {
        padding-block: calc(var(--spacing) * 40);
    }

    button {
        background-image: none;
        padding-inline: calc(var(--spacing) * 2);
        color: var(--color-white);
        font-weight: var(--font-weight-bold);
    }
}