@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
/*
    --color-VS-DARK-bright-blue: #4bb5ef;
    --color-VS-DARK-dark-blue: #46779f;
    --color-VS-Dark-pale-blue: #7aa9c1;
    --color-VS-DARK-bright-yellow: #ffbd13;
    --color-VS-DARK-pale-yellow: #dcdcaa;
    --color-VS-DARK-purple: #c586c0;
    --color-VS-DARK-orange: #ce743e;

    --color-VS-LIGHT-bright-blue: #1d1dfe;
    --color-VS-LIGHT-dark-blue: #57a0d5;
    --color-VS-LIGHT-pale-blue: #1e2c8e;
    --color-VS-LIGHT-green: #319359;
    --color-VS-LIGHT-pale-yellow: #795e26;
    --color-VS-LIGHT-purple: #af00db;
    --color-VS-LIGHT-orange: #a33d52;
*/
    --color-alf-blue: #00b6c9;

    --font-text: "Inter", sans-serif;
    --font-title: "Rethink Sans", sans-serif; 
    --font-code: "Roboto Mono", monospace;
}


@layer base {
    @font-face {
        font-family: "Inter";
        font-weight: normal;
        font-display: swap;
        src: local("Inter"), url('@/assets/fonts/Inter/Inter-VariableFont.ttf');
    }

    @font-face {
        font-family: "Rethink Sans";
        font-weight: normal;
        font-display: swap;
        src: local("Rethink Sans"), url('@/assets/fonts/Rethink_Sans/RethinkSans-VariableFont.ttf');
    }

    @font-face {
        font-family: "Roboto Mono";
        font-weight: normal;
        font-display: swap;
        src: local("Roboto Mono"), url('@/assets/fonts/Roboto_Mono/RobotoMono-VariableFont.ttf');
    }


    
    * { /* Font styling for alle sider yayy */
        @apply
        font-text max-w-screen mx-auto selection:bg-alf-blue;
    }

    main {
        @apply
        flex flex-col text-neutral-900 min-w-sm max-w-full mx-auto mb-40 [&>*:first-child]:py-40;
    }

    button {
        @apply
        text-neutral-50 bg-none font-bold px-2 rounded-md;
    }

    h1, h2 {
        @apply 
        font-title font-bold;
    }

    h1 {
        @apply 
        text-4xl tracking-wide;
    }

    h2 {
        @apply 
        text-2xl;
    }
}