@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --color-alf-blue: #00b6c9;

    --font-text: "Inter", sans-serif;
    --font-title: "Rethink Sans", sans-serif; 
    --font-code: "Roboto Mono", monospace;
}

@layer base {
    @font-face {
        font-family: "Inter";
        font-weight: normal;
        font-display: swap;
        src: local("Inter"), url('@/assets/fonts/Inter/Inter-VariableFont.ttf');
    }

    @font-face {
        font-family: "Rethink Sans";
        font-weight: normal;
        font-display: swap;
        src: local("Rethink Sans"), url('@/assets/fonts/Rethink_Sans/RethinkSans-VariableFont.ttf');
    }

    @font-face {
        font-family: "Roboto Mono";
        font-weight: normal;
        font-display: swap;
        src: local("Roboto Mono"), url('@/assets/fonts/Roboto_Mono/RobotoMono-VariableFont.ttf');
    }

    
    * { /* Font styling for alle sider yayy */
        @apply
        font-text mx-auto selection:bg-alf-blue;
    }

    main {
        @apply
        pt-16 text-neutral-900 bg-alf-blue min-h-screen max-h-full has-[div]:xl:bg-gradient-to-b from-zinc-900 to-alf-blue [&>*:first-child]:py-32 [&>*:last-child]:py-16;
    }

    button {
        @apply
        text-neutral-50 bg-none font-bold rounded-lg;
    }

    h1, h2, h3 {
        @apply 
        font-title font-bold;
    }

    h1 {
        @apply 
        text-4xl tracking-wide;
    }

    h2 {
        @apply 
        text-2xl;
    }

    h3 {
        @apply
        text-xl;
    }
}