@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    /* Hovedfarger */
    --color-alf-blue: #00b6c9;
    --color-ink: #d8d8d8;
    
    /* Farger på Nettsiden */
    --color-main: #63666a;

    /* Avdelingsfarger */
    --color-klosterhagen-main: #bac075;
    --color-klosterhagen-bi: #ebe6b3;
    --color-aurora: #f7a600;
    
    /* Farger til tidligere avdelinger */
    --color-megafon: #cd1619;
    --color-urbant-landbruk: #79af3a;

    --font-*: initial;
    --font-text: "Roboto", sans-serif;
    --font-title: "Roboto Condensed", sans-serif; 
    --font-code: "Roboto Mono", monospace;

    --spacing: 4px;
    --radius-8xl: 4rem;
}

@layer base {
    /*
    @font-face {
        font-family: "Inter";
        font-weight: normal;
        font-display: swap;
        src: local("Inter"), url('@/assets/fonts/Inter/Inter-VariableFont.ttf');
    }

    @font-face {
        font-family: "Rethink Sans";
        font-weight: normal;
        font-display: swap;
        src: local("Rethink Sans"), url('@/assets/fonts/Rethink_Sans/RethinkSans-VariableFont.ttf');
    }
    */
    @font-face {
        font-family: "Roboto";
        font-weight: normal;
        font-display: swap;
        src: local("Roboto"), url('@/assets/fonts/Roboto/Roboto-VariableFont.ttf');
    }

    @font-face {
        font-family: "Roboto Condensed";
        font-weight: normal;
        font-display: swap;
        src: local("Roboto Condensed"), url('@/assets/fonts/Roboto_Condensed/RobotoCondensed-VariableFont.ttf');
    }

    @font-face {
        font-family: "Roboto Mono";
        font-weight: normal;
        font-display: swap;
        src: local("Roboto Mono"), url('@/assets/fonts/Roboto_Mono/RobotoMono-VariableFont.ttf');
    }

    html { /* Font styling for alle sider yayy */
        @apply
        font-text bg-alf-blue selection:bg-alf-blue;
    }

    header {
        @apply
        fixed top-0 bg-zinc-900 h-16 w-full z-99 py-4 flex justify-between;
    }

    nav, footer {
        @apply
        flex gap-4;
    }

    main {
        @apply
        pt-16 text-zinc-900 bg-alf-blue min-h-screen has-[div]:xl:bg-gradient-to-b from-zinc-900 to-alf-blue [&>*:first-child]:py-32 [&>*:last-child]:py-32;
    }

    footer {
        @apply
        flex-col pb-16 text-center select-none;
    }

    section, ul {
        @apply
        flex flex-col gap-2; 
    }

    button {
        @apply
        text-neutral-50 bg-none font-bold rounded-lg;
    }

    a, button {
        @apply
        hover:cursor-pointer;
    }


    /*
    text-neutral-50 bg-none flex items-center font-bold rounded-lg px-3 py-1 hover:cursor-pointer;
    */

    h1, h2, h3 {
        @apply 
        font-title font-bold;
    }

    h1 {
        @apply 
        text-4xl tracking-wider;
    }

    h2 {
        @apply 
        text-2xl;
    }

    h3, svg {
        @apply
        text-xl;
    }

    em { /* "Why isn't it possible?" "It's just not" "Why not you stupid bastard" */
        @apply
        font-normal -skew-x-12;
    }
}